// Created by WareBare on 10/24/2016.

form{
    text-align: center;
    fieldset{
        text-align: left;
        display: inline-block;
        border-width: 1px;
        margin:10px 5px 5px 5px;
        padding:5px;
        vertical-align: top;
        legend{
            font-size: 1.5em;
            border-width: 1px;
            margin-top:-19px;
            margin-left:5px;
            padding: 0 5px 0 5px;
        }
    }
    label{
        display: inline-block;
        background: $gradientLabel-001;
        vertical-align: top;
        span{
            //border-top-width: 1px;
            //border-right-width: 1px;
            //border-left-width: 1px;
            //padding: 2px 5px 2px 5px;
            padding: 2px 0 2px 0;
            margin-left: -2px;
        }
        margin: 5px 5px 5px 5px;
        padding: 3px 3px 3px 5px;

        ul{
            display: inline-block;
            margin-top: 0;
            //position: absolute;
            max-height: 150px;
            max-width: 400px;
            //color:green;
            color: #3F3F3F;
            overflow: auto;
            li{
                background-color: #AFAFAF;
                display: block;
                &:HOVER{
                    background-color: #CFCFCF;
                }
            }
        }
    }

    label.comboBox{
        position:relative;
        display: block;
        //height:10px;
        //width:100px;
        & select{
            //position:absolute;
        }
    }
    input,select,option,textarea{
        margin: 2px 0 0 -2px;
        display: block;
        width: 150px;
        cursor: text;
        //background-color: #E0E0E0;
        background: #fcfff4;
        background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,0.5);
        &:invalid{
            background-color: #AF8080;
        }
        &[wzType="ListBox"]{
            width: 253px;
            & option{
                width: 235px;
            }
        }
        &[wzType="ListBoxLarge"]{
            width: 550px;
            & option{
                width: 540px;
            }
        }
        &[wzType="TextMedium"]{
            width: 260px;
        }
        &[wzType="TextLarge"], &[wzType="ComboBoxLarge"]{
            width: 300px;
        }
        &[wzType="TextLarger"]{
            width: 370px;
        }
        &[wzType="TextArea"]{
            height:100px;
            width: 500px;
        }
        &[wzType="TextLargeX"]{
            width: 500px;
        }
        &[wzType="ListArea"]{
            height:100px;
            width: 253px;
            & option{
                width: 235px;
            }
        }
        &[wzType="ListAreaLarge"]{
            width: 528px;
            height:150px;
        }
        &[wzType="ListAreaWide"]{
            height:50px;
            width: 548px;
            & option{
                width: 528px;
            }
        }
        &[wzType="CheckDefault"]{
            cursor: pointer;
            //display: inline-block;
            width: auto;
        }
        &[wzType="RadioDefault"]{
            cursor: pointer;
            //display: inline-block;
            width: auto;
        }
        &[type="number"]{
            width: 50px;
        }
        &[type="checkbox"]{
            width: 20px;
            height: 20px;
        }
        &[type="radio"]{
            width: 20px;
            height: 20px;
        }
        &::-webkit-input-placeholder{
            //color: #8F8FCF;
        }
    }
    select,option{
        cursor: default;
    }
    ul{
        position: absolute;
        list-style: none;
        margin: -10px 0 0 0;
        li{}
    }
    input[type="submit"],input[type="reset"]{
        display: inline-block;
        cursor: pointer;
        margin: 2px;
        width: 100px;
        &:HOVER{
            background-color: #A0F0A0;
        }
    }
}
