// Created by WareBare on 10/24/2016.

form{
    text-align: center;
    fieldset{
        text-align: left;
        display: inline-block;
        border-width: 1px;
        margin:10px 5px 5px 5px;
        padding:5px;
        vertical-align: top;
        legend{
            font-size: 1.5em;
            border-width: 1px;
            margin-top:-19px;
            margin-left:5px;
            padding: 0 5px 0 5px;
        }
    }
    label{
        display: inline-block;
        span{
            border-top-width: 1px;
            border-right-width: 1px;
            border-left-width: 1px;
            padding: 2px 5px 2px 5px;
            margin-left: -2px;
        }
        margin: 5px 0 5px 0;

        ul{
            display: inline-block;
            margin-top: 0;
            //position: absolute;
            max-height: 150px;
            max-width: 400px;
            //color:green;
            color: #3F3F3F;
            overflow: auto;
            li{
                background-color: #AFAFAF;
                display: block;
                &:HOVER{
                    background-color: #CFCFCF;
                }
            }
        }
    }
    label.comboBox{
        position:relative;
        display: block;
        //height:10px;
        //width:100px;
        & select{
            //position:absolute;
        }
    }
    input,select,option,textarea{
        margin: 2px 0 0 0;
        display: block;
        width: 150px;
        cursor: text;
        &:invalid{
            background-color: #AF8080;
        }
        &[wzType="ComboBox"]{
            width: 268px;
            & option{
                width: 250px;
            }
        }
        &[wzType="TextLarge"], &[wzType="ComboBoxLarge"]{
            width: 300px;
            & option{
                width: 300px;
            }
        }
        &[wzType="TextLargeX"]{
            width: 500px;
        }
        &[wzType="ListArea"]{
            width: 300px;
            height:50px;
        }
        &[type="number"]{
            width: 50px;
        }
    }
    select,option{
        cursor: default;
    }
    ul{
        position: absolute;
        list-style: none;
        margin: -10px 0 0 0;
        li{}
    }
    input[type="submit"],input[type="reset"]{
        display: inline-block;
        cursor: pointer;
        margin: 2px;
        width: 100px;
        &:HOVER{
            background-color: #A0F0A0;
        }
    }
}
